.head {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
.middlepart {
    position: relative;
    left: 12%;
}
.arm {
    position: relative;
    top: 1px;
    margin: 0px;
    padding: 0px;
    margin-left: -6%;
    margin-right: -6%;
}
.legs {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
.singleleg {
    position: relative;
    margin: 0px;
    padding: 0px;
    margin-left: -25%;
    margin-right: -25%;
}
input[type=color]{
    width: 45px;
}